body{
    background-color: #4f5b8f;
}
.form-control{
    border: none ;
    border-radius: 2rem;
    color:  #4e598d
}   
#surnamelabel{
    margin-bottom: 10%;
    color: rgb(255, 254, 254);
}

#user{
    color: rgb(255, 254, 254);
}
#button{
    margin-top: 20%;
    border-radius: 2rem;
    margin-left: 30%;
}
#warning{
    color: rgb(255, 254, 254);
    margin-top: 10%;
}